<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Jeshua Yates</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='tailwind.css') }}"
    />
  </head>
  <body>
    <script
      type="module"
      src="https://tailwindui.com/build/assets/app-b7a21d37.js"
    ></script>
    <!-- NAVIGATION -->
    <nav aria-label="Global" class="justify-between">
      <a href="#" class=""
        ><span class="font-semibold link-btn">Jeshua Yates</span></a
      >
      <!-- RESPONSIVE -->
      <div class="">
        <button type="button" hidden class="">
          <span class="">Home</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            class="oi sl"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            ></path>
          </svg>
        </button>
      </div>
      <div class="nav-links">
        <a href="#">Python</a>
        <a href="#">JS</a>
        <a href="#">ReactJS</a>
        <a href="#">React-Native</a>
        <a href="#">TailwindCSS</a>
        <a href="#">GitHub</a>
        <a href="#">Contact</a>
      </div>
    </nav>

    <!-- HEADER INTRO PROFILE -->
    <header>
      <div class="jumbo">
        <div class="img-w-ref-container">
          <img
            src="/static/images/header_photo.jpg"
            alt="space photo"
            class="home-photo"
          />
          <span class="img-ref">
            Designed by <a href="https://www.freepik.com">Freepik</a>
          </span>
        </div>

        <div class="tw-container">
          <img
            class="profile-p"
            src="/static/images/pp.png"
            alt="profile photo"
          />
          <h1>Jeshua Yates</h1>
          <h2>Junior Front-End Developer</h2>
          <p class="py-2">
            As an enthusiastic junior developer, I bring a flair for creativity
            and a passion for problem solving to every project. My fast learning
            ability allows me to thrive in both digital design and programming
            tasks. I take immense pride in delivering solutions that not only
            function flawlessly but also look aesthetically pleasing. As a
            self-starter, I am eager to enhance my front end development skills
            and embrace new processes.
          </p>
        </div>
      </div>
    </header>

    <!-- LINKS -->
    <section class="s_container s_colour">
      <div class="links-container">
        <div class="links link-btn">Python</div>
        <div class="links link-btn">JS</div>
        <div class="links link-btn">ReactJS</div>
        <div class="links link-btn">React-Native</div>
        <div class="links link-btn">TailwindCSS</div>
        <div class="links link-btn">GITHUB</div>
        <div class="links link-btn">LinkedIn</div>
      </div>
    </section>

    <!-- PYTHON -->
    <section class="s_container">
      <h3>Python</h3>
      <div>
        <h4>Projects - gif carousel</h4>
        <ul>
          <li>Snake</li>
          <li>Ping Pong</li>
        </ul>
      </div>
    </section>

    <!-- JAVASCRIPT -->
    <section class="s_container s_colour"><h3>JS</h3></section>

    <!-- REACT (WEB) -->
    <section class="s_container"><h3>ReactJS</h3></section>
    <!-- REACT-NATIVE -->
    <section class="s_container s_colour"><h3>React-Native</h3></section>
    <!-- TAILWIND -->
    <section class="s_container">
      <h3>CSS</h3>
      <p>Tailwind & Bootstrap</p>
    </section>

    <!-- GITHUB & LINKEDIN-->
    <section class="flex flex-row s_container s_colour">
      <div class="flex flex-col w-1/2 m-auto text-center">
        <h3>GITHUB</h3>
        <div class="img-w-ref-container">
          <img src="/static/images/html.jpg" alt="html script" />
          <span class="img-ref">
            Photo by
            <a
              href="https://unsplash.com/@afgprogrammer?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >
              Mohammad Rahmani
            </a>
            on
            <a
              href="https://unsplash.com/photos/black-flat-screen-computer-monitor-oXlXu2qukGE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >
              Unsplash
            </a>
          </span>
        </div>
      </div>
      <div class="flex flex-col w-1/2 m-auto text-center">
        <h3>LinkedIn</h3>
        <div class="img-w-ref-container">
          <img src="/static/images/cat.jpg" alt="cat hissing" />
          <span class="img-ref">
            Photo by
            <a
              href="https://unsplash.com/@vaea?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >
              vaea Garrido
            </a>
            on
            <a
              href="https://unsplash.com/photos/tuxedo-cat-on-gray-concrete-floor-gxsyIKe83N0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
            >
              Unsplash
            </a>
          </span>
        </div>
      </div>
    </section>

    <!-- CONTACT -->
    <section class="s_container">
      <h3>CONTACT ME</h3>
    </section>

    <!-- FOOOTER -->
    <footer>
      <span> © Jeshua Yates </span>
      <div>
        <a> Github </a>
        <a>LinkedIn</a>
      </div>
    </footer>
  </body>
</html>
