@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-violet-200 to-pink-200;
}

nav,
footer {
  @apply flex flex-row items-center p-3 px-8 border-none bg-gradient-to-r from-teal-400 to-yellow-200;
}

footer {
  @apply justify-between;
}

.nav-links {
  @apply flex flex-wrap gap-12;
}

.nav-links a {
  @apply font-semibold text-gray-950 hover:text-gray-600;
}

.s_container {
  @apply py-4;
}

.s_colour {
  background-color: rgba(75, 13, 163, 0.4);
}

/* 
hr {
  @apply w-5/6 mx-auto;
} */

.home-photo {
  @apply flex h-96;
}

.brand-title {
  @apply text-xl font-medium text-black;
}

.jumbo {
  @apply flex items-center justify-center w-full mx-auto bg-blue-300;
}

.tw-container {
  @apply w-full p-4 text-center;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply p-4 text-3xl;
}

.content-text {
  @apply mb-6 text-lg;
}

.btn {
  @apply p-4 mb-6 font-medium text-white rounded-md bg-lime-600 hover:bg-lime-700 hover:shadow-md;
}

.profile-p {
  @apply h-32 mx-auto bg-gray-700 rounded-full;
}

.links-container {
  @apply flex flex-wrap items-center justify-center gap-2 my-6;
}

.links {
  @apply px-4 py-1 border-2 rounded-full hover:shadow-md hover:border-none;
  color: #e5e7eb;
}
/* 
.links:hover {
  color: #65a30d;
  border: #65a30d;
} */

.link-btn {
  @apply inline-block p-2 font-medium text-white no-underline rounded-md bg-gradient-to-r from-violet-400 via-violet-500 to-violet-400 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300;
  background-color: #8a98fe;
  border-radius: 50% 20% / 10% 40%;
  text-decoration: none;
}

.img-w-ref-container {
  @apply relative flex flex-col w-1/2 m-auto text-right;
}

.img-ref {
  @apply absolute bottom-0 right-0 text-sm bg-slate-100/75;
}
